body {
  margin-left: 0;
  margin-right: 0;
  padding-top: 60px;
  font-family: Roboto, Arial;
  background-color: rgb(33, 33, 33);
  color: white;
}

.bottom-bar {
  bottom: 0;

  /*i want this to be flush with the bottom of the screen*/

  text-align: center;
  height: 100px;
  background-color: #333;
  color: white;
  width: 100%
}

.bottom-bar-text-container {
  padding-top: 32px;
}


.bottom-bar-text {
  margin: 0;
}