.navbar {
  display: flex;
  justify-content: space-between;

  height: 60px;
  background-color: white;
  top: 0;
  width: 100%;

  position: fixed;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap: 16px;
  font-size: 17px;
}

.navbar-left {
  padding-left: 25px;
}

.navbar-right {
  padding-right: 25px;
}