a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #333;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 200;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 17px;
}

.navbar-left {
  padding-left: 25px;
}

.navbar-right {
  padding-right: 25px;
}

.media-logo {
  height: 25px;
  padding-right: 5px;

  /*i want these logos to follow the same colour theme (both white)*/
}
