
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 400px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 25px;
  z-index: 100;
  transition: opacity 0.15s;
}

.project-container:hover {
  opacity: 0.9;
  cursor: pointer;
}

.project-image {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 15px;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-header {
  font-size: 20px;
  font-weight: bold;
  color: rgb(33, 33, 33);
}

.project-description {
  margin-top: 5px;
  font-size: 17px;
  color: rgb(33, 33, 33);
  line-height: 1.4;
}